@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Fim do reset*/

*{
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

header {
    background-color: rgb(0, 98, 255);
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header > h1 {
    font-size: 32px;
    font-weight: bolder;
    text-shadow: 1px 1px 1px black;
}

section {
    padding: 10px;
    display: flex;
    justify-content: center;
}

section button, input[type=text] {
    height: 35px;
    border-radius: 3px;
}

section > input {
    width: 60vw;
    font-size: 18px;
    margin-right: 2px;
}

section > button {
    background-color: rgba(128, 128, 128, 0.54);
    cursor: pointer;
}

section > button:hover{
    background-color: rgb(112, 111, 111);
    transition-duration: 0.3s;
}


#tarefas_adicionadas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tarefas_adicionadas .conteudo {
    position: relative;
    background-color: rgba(100, 148, 237, 0.434);
    padding: 5px;
    width: 270px;
    border-radius: 2px;
    margin-bottom: 2px; 
    min-height: 30px;
    display: flex;
    align-items: center;
}

#tarefas_adicionadas p {
    position: relative;
    font-size: 17px;
    margin: 0;
}

#tarefas_adicionadas input[type = checkbox] {
    position: relative;
    top: 3px;  
    width: 20px;
    height: 20px;
    margin-bottom: 8px;
    cursor: pointer;
}

#tarefas_adicionadas #deleta {
    position: absolute;
    right: calc(100% - 230px);
    width: 60px;
    height: 20px;
    color: white;
    background-color: rgba(255, 0, 0, 0.84);
    border: 1.5px solid black;
    border-radius: 2px;
    cursor: pointer;
}

#tarefas_adicionadas #deleta:hover {
    background-color: red;
    border: 1.75px solid black;
}

footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
    height: 140px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    position: sticky;
    top: 100vh;
}

footer span {
    color: white;
    text-shadow: 1px 1px 4px black;
}

footer a {
    font-size: 16px;
    margin-top: 5px;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 5px black;
}

footer a:hover {
    color: rgba(228, 223, 223, 0.611);
    transition-duration: 0.3s;
}




